<div class="cont" >
  <div class="form">
      <h1>Login</h1>
      <input type="text" class="user" placeholder="Username" required [(ngModel)] = "username"/>
      <input type="password" class="pass" placeholder="Password" required [(ngModel)] = "password"/>
      <button class="login" type="submit" (click)="loginUser()">Login</button>
  </div>
  
</div>