* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.primary {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #3598dc;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


.toggle-button {
  display: none;
}

.toggle-button + label:before {
  background-color: #de2b2b;
  border-radius: 50%;
  color: #ffffff;
  content: 'One';
  display: block;
  font-size: 0.8em;
  height: 2rem;
  left: 0;
  line-height: 2.5em;
  position: relative;
  text-align: center;
  transition: all 0.3s;
  width: 2rem;
}

.toggle-button + label {
  background-color: rgba(222, 43, 43, 0.5);
  border-radius: 1rem;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: block;
  height: 2rem;
  margin: 0 auto;
  transition: all 0.3s;
  width: 4rem;
  float: right;
  margin-bottom: 10px;
}

.toggle-button:checked + label:before {
  background-color: #069406;
  content: 'Bulk';
  left: 2rem;
}

.toggle-button:checked + label {
  background-color: rgba(6, 148, 6, 0.5);
}

.file-upload {
  position: relative;
  display: inline-block;
}

.file-upload__label {
  display: block;
  padding: 1em 2em;
  color: #fff;
  background: #008CBA;
  border-radius: .4em;
  transition: background .3s;
  
  &:hover {
     cursor: pointer;
     background: #000;
  }
}
    
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}

.backdrop {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  width: 60em;
  height:30em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}


section {
  min-width: 350px;
  height: 265px;
  overflow: scroll;
  margin: auto;
}

table {
  min-width: 875px;
  border-collapse: collapse;
}

thead {
  font-size: 0.8rem;
  text-transform: uppercase;
  background: #f1f1f1;
}

tr {
  border-top: 1px solid #e6e6e6;
}

tr:hover {
  background-color: #f5f8fc;
}

td {
  font-weight: 100;
}

th, td {
  padding: 1.25rem 2rem;
}

td:first-child,
th:first-child {
  text-align: center;
}

td:nth-last-child(2),
th:nth-last-child(2) {
  text-align: center;
}

td + td:not(:nth-last-child(2)) {
  text-align: center;
}

.table__button-group {
  visibility: hidden;
  transition: visibility 0.06s ease-in;
}
.table__button-group a {
  text-decoration: none;
  color: #0989ab;
  font-size: 0.8rem;
  font-weight: 500;
}
.table__button-group a:hover {
  color: #0989ab;
  opacity: 0.75;
}
.table__button-group a ~ a:before {
  content: "|";
  padding: 0 0.35rem;
}

tr:hover > td .table__button-group {
  visibility: visible;
}

.max_height {
  height: 50em;
}